
.container {
    position: relative;
    padding: 12px;
    height: 200px;
}
.base {
    height: 50px;
    width: 10px;
    background: gray ;
    position: absolute;
    top: 0;
    right: 0;
}
.hangerTop{
    height: 10px;
    width: 180px;
    background: gray;
    margin-left: 120px;
}

.hangerPole {
    height: 200px;
    width: 10px;
    background-color: gray;
    margin-left: 120px;
}
.hangerBase {
   height: 10px;
   width: 180px;
   background-color: gray;
   margin-left: 35px;
   
}