
.container {
    position: relative;
    padding: 12px;
}
.base {
    height: 50px;
    width: 10px;
    background: rgb(49, 49, 49);
    position: absolute;
    top: 0;
    right: 0;
}
.hangerTop{
    height: 10px;
    width: 200px;
    background: rgb(49, 49, 49);
    margin-left: 120px;
}

.hangerPole {
    height: 400px;
    width: 10px;
    background-color: rgb(49, 49, 49);
    margin-left: 120px;
}
.hangerBase {
   height: 10px;
   width: 250px;
   background-color: rgb(49, 49, 49);
   
}