.keyboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    gap: 10px;
    padding-top: 40px;

    }

.btn {
    width: 100%;
    border-radius: 5%;
    background-color: lightgray;
    border: 3px solid rgb(110, 109, 109);
    aspect-ratio: 1/1;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.btn:active {
    background-color:lightcoral;
}

.btn.inactive {
    background-color: lightcoral;
    border: red 1.5px solid;

}
.btn:hover:not():disabled,
.btn:focus:not():disabled {
    background-color:lightcoral;
}

.main {
    border: 0.5px solid light gray;
}